* {
    margin:0;
    padding: 0;
}

html {
    font-family: 'Bebas Neue', sans-serif;
}

.container {
    max-width: 500px;
    margin: auto;
    background-color: aqua;
    height: 100vh;
    background-image: url("./image/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header>img{
    width: 150px;
    height: 150px;
    border: 3px solid #222;
    border-radius: 100%;
}

.header>p{
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.body>a{
    text-decoration: none;
    color: beige;
    text-align: center;
    border: 3px solid #222;
    font-size: 24px;
    border-radius: 7px;
    margin: 5px 10px;
    font-weight: 500;
    text-transform: capitalize;
    
}

.body>a:hover{
    background-color: darkgrey;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.footer>p{
    color: beige;
    font-weight: 500;
    font-size: 24px;
}